.firstlogo {
    height: 40vmin;
    pointer-events: none;
    margin-top: -70px;
  }

.firstFrame{
  background-color: #84a6e9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.6);
}
